* {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: "Times";
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.nav-style {
  background: white;
  font-size: 1rem;
  font-family: "Helvetica";
  justify-content: space-around;
  color: #4d4d4d;
}
.nav-style li:hover {
  text-decoration: underline;
}

.navbar1 {
  position: fixed;
  left: 0;
}

.navbar2 {
  position: fixed;
  right: 0;
}

.navbar-toggler {
  margin: 10px;
}

#title {
  background-color: #333333;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 650px;
}
#title:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 1200px) {
  #title {
    margin: auto;
  }

  .navbar1, .navbar2 {
    position: static;
    padding: 10px;
  }
}
#main-product {
  margin-top: 30px;
  display: flex;
  width: 100%;
}

#product-text {
  color: #4d4d4d;
  padding: 0px 10px;
  width: 40%;
  margin: 10px;
  margin-top: 40px;
}
#product-text h2 a {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}
#product-text h2 a:hover {
  text-decoration: underline;
}
#product-text p {
  padding-bottom: 10px;
}

.product-img {
  width: 60%;
  margin: 10px;
}
.product-img img {
  width: 100%;
  height: auto;
}

#colors {
  display: flex;
  justify-content: space-between;
}
#colors p {
  padding-top: 10px;
}
#colors ul {
  display: flex;
}
#colors ul li {
  margin: 10px;
}

#black-hoodie:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#brown-hoodie:hover {
  background-color: brown;
  color: white;
  cursor: pointer;
}

#gray-hoodie:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

#size {
  display: flex;
  justify-content: space-between;
}
#size p {
  padding-top: 10px;
}
#size ul {
  display: flex;
}
#size ul li {
  margin: 10px;
}

#sm-size:hover {
  border: 1px solid #cccccc;
  cursor: pointer;
}

#med-size:hover {
  border: 1px solid #cccccc;
  cursor: pointer;
}

#lg-size:hover {
  border: 1px solid #cccccc;
  cursor: pointer;
}

#product-details {
  margin-top: 30px;
}
#product-details h3 {
  color: black;
}
#product-details p {
  margin: 10px 0px;
}
#product-details a {
  text-decoration: none;
  color: #4d4d4d;
}
#product-details a:hover {
  text-decoration: underline;
}

#sizing-chart {
  width: 300px;
  height: auto;
}

@media (max-width: 960px) {
  #main-product {
    flex-direction: column;
  }

  .product-img, #product-text {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}
#shop-more {
  color: #4d4d4d;
  margin: 10px;
}
#shop-more h3 {
  text-align: center;
  margin: 20px;
}

#shop-more-figures {
  display: flex;
  flex-direction: row;
}
#shop-more-figures figure {
  width: 30%;
  margin: 0px 20px;
}
#shop-more-figures figure img {
  width: 100%;
}

.mulberry-tee-hover-img {
  display: none;
}

#mulberry-tee:hover {
  cursor: pointer;
}
#mulberry-tee:hover .mulberry-tee-hover-img {
  display: block;
}
#mulberry-tee:hover .mulberry-tee-img {
  display: none;
}

.chelsea-sweatpants-hover-img {
  display: none;
}

#chelsea-sweatpants:hover {
  cursor: pointer;
}
#chelsea-sweatpants:hover .chelsea-sweatpants-hover-img {
  display: block;
}
#chelsea-sweatpants:hover .chelsea-sweatpants-img {
  display: none;
}

.cropped-sweatshirt-hover-img {
  display: none;
}

#cropped-sweatshirt:hover {
  cursor: pointer;
}
#cropped-sweatshirt:hover .cropped-sweatshirt-hover-img {
  display: block;
}
#cropped-sweatshirt:hover .cropped-sweatshirt-img {
  display: none;
}

@media (max-width: 960px) {
  #shop-more-figures {
    flex-direction: column;
  }
  #shop-more-figures figure {
    width: 90%;
    margin-left: 35px;
  }
  #shop-more-figures figure img {
    width: 100%;
  }
}
footer {
  color: #4d4d4d;
  font-family: "Helvetica";
}
footer p {
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}
.footer-links .join {
  margin-top: 20px;
}

#footer-shop, #footer-Htik {
  padding: 20px;
}
#footer-shop li, #footer-Htik li {
  margin: 10px;
}

#emailField {
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  margin: 10px 0;
}

@media (max-width: 990px) {
  .footer-links {
    flex-direction: column;
    text-align: center;
  }
}