* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background: white;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: space-around;
}
nav #nav-list-left {
  display: flex;
}
nav #nav-list-right {
  display: flex;
}