@use 'helpers/variables';
footer{
  border: 1px solid gray;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  color: variables.$text-color;
  
  #footer-shop{
    padding: 20px;
    li{
      margin: 10px; 
    }

  } 
  #footer-Htik {
    padding: 20px;
    li{
      margin: 10px;
    }
  }
  
  p{
    position: absolute;
    bottom: 5px;
    right: 0px;

  }
}