@use 'helpers/mixins';
@use 'helpers/variables';

//main container (left and right side, including img and product details)
#main-product{
  margin-top: 30px;
  display: flex;
  width: 100%;
}

  //right container, including product title, price, details
#product-text{
  color: variables.$text-color;
  padding: 0px 10px;
  width: 40%;
  margin: 10px;
  margin-top: 40px;
  h2 a{
    text-decoration: none;
      color: black;
      padding-bottom: 10px;
      &:hover{
        text-decoration: underline;
      }
  }
  p{
    padding-bottom: 10px;
  }
}

//product title and image width
.product-img {
  width: 60%;
  margin: 10px;
  img {
    width: 100%; // the width of the image is assigned to be 100% of the div
    height: auto;
  }
}
    //colors container
#colors{
  display: flex;
  justify-content: space-between;
  p{
    padding-top: 10px; 
  }
  ul{
    display: flex;
    li{
      margin: 10px;
    }
  }
}

 //select product color
#black-hoodie{
  &:hover{
    @include mixins.item-color(black);
    cursor: pointer;
  }
}

#brown-hoodie{ 
  &:hover{
    @include mixins.item-color(brown);
    cursor: pointer;
  }
}
  
#gray-hoodie{
  &:hover{
    @include mixins.item-color(gray);
    cursor: pointer;
  }
}

//select product size 
#size{
  display: flex;
  justify-content: space-between;
  p{
    padding-top: 10px;
  }
  ul{
    display: flex;
    li{
      margin: 10px;
    }
  }
}
#sm-size{
  &:hover{
    border: variables.$size-border-hover;
    cursor: pointer;
  }
}
#med-size{
  &:hover{
    border: variables.$size-border-hover;
    cursor: pointer;
  }
}
#lg-size{
  &:hover{
    border: variables.$size-border-hover;
    cursor: pointer;
  }    
}

  //details accordion, display block on load
#product-details{
  margin-top: 30px;
  h3{
    color: black;
  }
  p{
    margin: 10px 0px;
  }
  a{
    text-decoration: none;
    color: variables.$text-color;
    &:hover{
      text-decoration: underline;
    }
  } 
}
//sizing chart img
#sizing-chart{
  width: 300px;
  height: auto;
}

//mobile view
@media (max-width: 960px){
  #main-product{
    flex-direction: column;
  }
  .product-img, #product-text{
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}
