@use 'helpers/variables';

//navigation container
.nav-style {
  background: white;
  font-size: 1rem;
  font-family: "Helvetica";
  justify-content: space-around;
  color: variables.$text-color;
  li:hover{
    text-decoration: underline;

  }
}

//left navigation bar
.navbar1{
  position: fixed;
  left: 0;
}
//right navigation bar
.navbar2{
  position: fixed;
  right: 0;
}

//Kith website title
#title{
  background-color: variables.$nav-title-background-color;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}

//mobile menu
@media (max-width: 990px){
  #title{
    margin: auto;  
  }
  .nav-brand{
    position: fixed;
    left: 0;
  }
  .navbar1, .navbar2{
    position: static;
    padding: 10px;
  }
}


  
